<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text">&copy; Copyright TaskMaster 2024. D.K, D.M, T.R, All rights reserved</h6>
    </nav>
    </footer>
</body>
</html>