<%- include('../Partials/header') %>
<%- include('../Partials/main_nav') %>

<body>

    <main>
        <section class="aboutus">
             <h2>About Us</h2>
            <p>Welcome to Task Manager, your go-to solution for managing daily tasks and boosting productivity!</p>

            <h2>Our Mission</h2>
            <p>Our Mission is to help individuals organize and prioritize tasks so you can focus on what matters most.</p>

            <h2>Features</h2>
            <ul>
                <li>Create tasks with customizable priority</li>
                <li>Set due dates to keep track of deadlines</li>
                <li>Organize tasks by status: Pending, In Progress, or Completed</li>
                <li>Easy-to-use interface for creating, updating and deleting</li>
            </ul>

            <h2>Get Started Today!</h2>
            <p>Ready to take control of your tasks? Sign up and start managing your to-do lists with ease</p>
        </section>
    </main>

</body>

<%- include('../Partials/footer') %>