<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>

<head>
    <link rel='stylesheet' href='/Content/aboutus.css' />
</head>

<main>
    <section class="aboutus">
            <h2>About Us</h2>
        <p>Welcome to Task Manager, your go-to solution for managing daily tasks and boosting productivity!</p>

        <h2>Our Mission</h2>
        <p>At Task Master, our mission is to empower individuals to take control of their daily tasks and achieve their goals with ease. We aim to simplify task management through an intuitive and user-friendly platform that helps users prioritize their responsibilities and stay organized. By providing features like customizable priorities, due dates, and progress tracking, we help people focus on what matters most while reducing stress. Our goal is to foster productivity and ensure that managing to-do lists becomes a seamless part of everyday life.</p>

        <h2>Features</h2>
        <ul>
            <li>Create tasks with customizable priority</li>
            <li>Set due dates to keep track of deadlines</li>
            <li>Organize tasks by status: Pending, In Progress, or Completed</li>
            <li>Easy-to-use interface for creating, updating and deleting</li>
        </ul>

        <h2>Get Started Today!</h2>
        <p>Ready to take control of your tasks? Sign up and start managing your to-do lists with ease</p>
    </section>
</main>

<%- include ../Partials/footer.ejs %>
