<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>

<main>
    <section class="FAQs">
        <h1>Frequently Asked Questions (FAQ)</h1>

        <h2>What is the purpose of this application?</h2>
        <p>This application helps you manage your to-do list efficently by allowing you to add, edit, delete, and track tasks.</p>

        <h2>How do I add a task?</h2>
        <p>You can add a task by clicking on the "Add Task" button on your home page. Fill in the task details and click "Save"</p>

        <h2>How can I change the status of a task?</h2>
        <p>You can change the status of a task by editing it from the to-do list page. Select the task, update the status, and save the changes.</p>

        <h2>Can I delete a Task?</h2>
        <p>Yes, you can delete any task by clicking on the "Delete" button next to it in the to-do list.</p>

        <h2>How do I log in to my account?</h2>
        <p>You can log in by clicking the "Log In" button in the navigation bar. Enter the credentials (email and password) on the login page to access your account.</p>

        <h2>Is my data saved when I log out?</h2>
        <p>Yes, all your tasks and data are saved in the system, evening after you log out. You can log back in at any time to view or update your tasks.</p>

    </section>
</main>

<%- include ../Partials/footer.ejs %>
